 <form action ="/profiles/fetchcur">
From Currency : &nbsp <input type = "text" name = cur[:fromcur] > </br>
To Currency : &nbsp <input type = "text" name = cur[:tocur] > </br>
<input type ="submit" value ="Get Conversion Rate" >
</form>